@media screen and (orientation: landscape){
	.menu{
		width: 100vw;
		height: 100vh;
		 
		background-repeat: no-repeat;
		background-size: 200%;
	}
}
@media screen and (orientation: portrait){
	.menu{
		width: 100vw;
		height: 100vh;
		
		background-repeat: no-repeat;
		background-size: 200%;
	}
}
.header_design{
		width: 100%;
		color: #fff;
		padding: 5px 0 0 0;
		background-color: rgba(64, 64, 65, 0.7);
		text-align: center;
		font-family: Sintony,non-serif;
	}
@media screen and (orientation: portrait){
	.header_design{
		width: 100%;
		height: 1.3em;
		color: #fff;
		padding: 5px 0 3px 0;
		background-color: rgba(64, 64, 65, 0.7);
		text-align: center;
		font-size: 1.5em;

	
	}
}
@media screen and(orientation: landscape){
	.header_design{
		width: 100%;
		height: 1em;
		color: #fff;
		padding: 2px 0 0 0;
		background-color: rgba(64, 64, 65, 0.7);
		text-align: center;
		font-size: 1.2em;
	}
}
.menu_content{
		width: 50% ;
		color: #fff;
		height: 10em;
		margin: 10px 0 0 0;
		
		text-align: center;
		font-family: Sintony,non-serif;
		float:right;
		position: absolute;
		right: 0;
	}
@media screen and (orientation: portrait){
	.menu_content{
		width: 50% ;
		height: 20em;
		color: #fff;
		margin: 5px 0 10px 0;
		
		text-align: center;
		font-size: 1.5em;
	
	}
}
@media screen and(orientation: landscape){
	.menu_content{
		width: 50% ;
		height: 49.7em;
		color: #fff;
		margin: 2px 0 0 0;
		
		text-align: center;
		font-size: 1.2em;
	}
}
.basics{
		width: 50% ;
		color: #fff;
		margin: 600px 0 0 0;
		background-color: rgba(64, 64, 65, 0.7);
		text-align: center;
		font-family: Sintony,non-serif;
		position: absolute;
		bottom: 0;
		right: 0px;
	}
@media screen and (orientation: portrait){
	.basics{
		width: 50% ;
		height:3em;
		color: #fff;
		margin: 300px 0 0px 0;
		background-color: rgba(64, 64, 65, 0.7);
		text-align: center;
		font-size: 1em;

	
	}
}
@media screen and(orientation: landscape){
	.basics{
		width: 70% ;
		height: 49.7em;
		color: #fff;
		padding: 100px 0 0 0;
		background-color: rgba(64, 64, 65, 0.7);
		text-align: center;
		font-size: 1.2em;
	}
}
.lists{
	padding: 10px 0px 0px 0px;
}